# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
.venv/
env/
venv/

# Ignore IDE-related files
.idea/
.vscode/

# Ignore other unnecessary files
*.log
*.tmp
*.swp

# Ignore version control files
.git/
.gitignore
